<h2>Books</h2>
<input ng-model="query" placeholder="Type to start searching...">

<ul id="bookList">
    <li data-ng-repeat="book in books.doc | filter:query"><a href="/#/books/{{book._id}}">{{book.title}}, {{book.author}}</a></li>
</ul>